.container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1.5rem;

    .project {
        overflow: hidden;

        .title {
            display: flex;
            justify-content: center;
            margin: 3rem 0;
            padding-bottom: 1rem;

            h2 {
                position: relative;

                &::before {
                    content: "MYWORK";
                    color: var(--gray);
                    font-family: var(--font-2);
                    font-size: 4.6875rem;
                    opacity: .1;
                    position: absolute;
                    top: -1.1rem;
                    left: -1em;
                    font-weight: 300;
                }

                @media(max-width: 450px) {
                    &::before {
                       font-size: 3.5625rem;
                        opacity: .1;
                        position: absolute;
                        top: -1.8rem;
                        left: -3rem;
                        font-weight: 300;
                    }
                }


                @media(min-width: 768px) {
                    &::before {
                       color: var(--gray);
                        font-family: var(--font-2);
                        font-size: 5.9375rem;
                        opacity: .1;
                        position: absolute;
                        top: -2.5rem;
                        left: -1.35em;
                        font-weight: 300;
                    }
                }
            }

        }

        .motionDiv {
            padding: 2rem 0;
            position: relative;
            min-height: 70vh;

            .projectCards {
                position: absolute;
                display: flex;
                align-items: center;
                margin: 0 auto;
                gap: 2rem;
            }
        }
    }
}