.container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    
    
    .project {
        overflow: hidden;
        margin-bottom: 6rem;

        .title {
            display: flex;
            justify-content: center;
            margin: 2rem 0;
            padding-bottom: 1rem;

            h2 {
                position: relative;

                &::before {
                    content: "MYWORK";
                    color: var(--gray);
                    font-family: var(--font-2);
                    font-size: 4.6875rem;
                    opacity: .1;
                    position: absolute;
                    top: -1.1rem;
                    left: -1em;
                    font-weight: 300;
                }

                @media(max-width: 450px) {
                    &::before {
                        font-size: 3.5625rem;
                        opacity: .1;
                        position: absolute;
                        top: -1.8rem;
                        left: -3rem;
                        font-weight: 300;
                    }
                }


                @media(min-width: 768px) {
                    &::before {
                        color: var(--gray);
                        font-family: var(--font-2);
                        font-size: 5.9375rem;
                        opacity: .1;
                        position: absolute;
                        top: -2.5rem;
                        left: -1.35em;
                        font-weight: 300;
                    }
                }
            }

        }

        .motionDiv {
            width: 100%;
            position: relative;
            margin: 0 auto;
            max-width: 1024px;

            .swiperDiv {
                width: 100%;

                :global(.swiper) {
                    padding-bottom: 3rem !important;
                    background-color: red;

                }

                :global(.swiper-slide) {
                    display: flex;
                    justify-content: center;
                    min-width: 350px;
                    min-height: 420px;

                    @media(min-width: 768px) {
                    width: 340px;
                    }
                }

                :global(.swiper-pagination-bullet) {
                    background: var(--yellow);
                    opacity: .4;
                }

                :global(.swiper-pagination-bullet-active) {
                    opacity: 1;
                }
            }
        }

        .carouselButton{
            border: none;
            background-color: transparent !important;
            cursor: pointer;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            background-color: #fff;
            padding: 0.5rem ;
            cursor: pointer;
            z-index: 10;
            
            &.prev {
                left: -1em;
            }
            &.next {
                right: -1em;
            }
            svg {
                transition: transform .25s ease;

                &:hover {
                transform: scale(1.15);
                }
            }
        }
    }
}