.container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    
    
    .project {
        overflow: hidden;
        margin-bottom: 6rem;

        .title {
            display: flex;
            justify-content: center;
            margin: 2rem 0;
            padding-bottom: 1rem;

            h2 {
                position: relative;

                &::before {
                    content: "MYWORK";
                    color: var(--gray);
                    font-family: var(--font-2);
                    font-size: 4.6875rem;
                    opacity: .1;
                    position: absolute;
                    top: -1.1rem;
                    left: -1em;
                    font-weight: 300;
                }

                @media(max-width: 450px) {
                    &::before {
                        font-size: 3.5625rem;
                        opacity: .1;
                        position: absolute;
                        top: -1.8rem;
                        left: -3rem;
                        font-weight: 300;
                    }
                }


                @media(min-width: 768px) {
                    &::before {
                        color: var(--gray);
                        font-family: var(--font-2);
                        font-size: 5.9375rem;
                        opacity: .1;
                        position: absolute;
                        top: -2.5rem;
                        left: -1.35em;
                        font-weight: 300;
                    }
                }
            }

        }

        .motionDiv {
            width: 100%;
            position: relative;
            margin: 0 auto;
            
                display: flex;
            
            @media (min-width: 1024px){
                overflow: hidden;
                max-width: 950px;
            }

             @media (max-width: 1025px){
                max-width: 950px;
                overflow: hidden;
            }

            .swiperDiv {
                width: 100%;
            }
        }

        .carouselButton{
            border: none;
            background-color: transparent !important;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #fff;
            padding: 0.5rem ;
            cursor: pointer;
            z-index: 10;
            
            &.prev {
                left: -1em;
            }
            &.next {
                right: -1em;
            }
        }
    }
}