.container {
    width: 100%;

    margin: 0 auto;
    padding: 2rem 1.5rem;

    .project {
        overflow: hidden;

        .title {
            display: flex;
            justify-content: center;
            margin: 3rem 0;

            h2 {
                position: relative;

                &::before {
                    content: "MYWORK";
                    letter-spacing: 10px;
                    color: var(--gray);
                    font-family: var(--font-2);
                    font-size: 80px;
                    opacity: .2;
                    position: absolute;
                    top: -1.5rem;
                    left: -8rem;
                    font-weight: 300;
                }


                @media(min-width: 1040px) {
                    &::before {
                        left: -1.5em;
                    }
                }
            }

        }

        .motionDiv {
            padding: 2rem 0;
            position: relative;
            min-height: 45vh;

            .projectCards {

                position: absolute;
                display: flex;
                align-items: center;
                margin: 0 auto;
                gap: 2rem;
            }
        }
    }
}