:root{
    --yellow: #f6be3d;
    --gray: #cacaca;
    --gray-2: #cacaca16;
    --white: #Fcfcfc;
    --black: #010000;
    --blue: #3b496c;

    --font-1: "Anton", sans-serif;
    --font-2: "Roboto", sans-serif;

    --size-1: 80px;
    --size-2: 32px;
    --size-3: 22px;
    --size-4: 14px;
 
    --weight-1: 700;
    --weight-2: 500;
    --weight-3: 400;
}

body{
    background: linear-gradient(var(--black), 95%, var(--gray))
}