.container{
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;
    padding: 1rem 2.5rem 3rem 2.5rem;
}

.container-header{
    width: 100%;

    margin: 0 auto;
    padding-left: 0 3.5rem;
    
    @media (max-width: 768px) {
        padding: 1rem ;
    }
}

