.container{
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.container-header{
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

