.title-1{
    font-size: var(--size-1);
    color: var(--white);
    font-weight: var(--weight-1);
    font-family: var(--font-1);
}

.title-2{
    font-size: var(--size-2);
    color: var(--gray);
    font-weight: var(--weight-2);

    @media(max-width: 460px){
        font-size: var(--size-3);
    }
}

.title-3{
    font-size: var(--size-2);
    color: var(--gray);
    font-weight: var(--weight-1);
    font-family: var(--font-1);
    letter-spacing: 3px;
}
.title-4{
    font-size: var(--size-6);
    color: var(--white);
    font-weight: var(--weight-1);
    font-family: var(--font-1);
    letter-spacing: 5px;
    margin: 3.5rem 0 0.5rem 0;
    text-align: justify;

}

.paragraph{
    font-size: var(--size-4);
    color: var(--gray);
    font-weight: var(--600);
    font-family: var(--font-2);
    line-height: 1.5;
    padding: 1rem 0;
    text-align: justify;

    @media(max-width: 460px){
        font-size: var(--size-5);
        padding: 2rem 0;
    }
}

.specialText{
    color: var(--gray);
    font-size: var(--size-4);
    text-transform: uppercase;
    font-family: var(--font-2);
}

.link{
    font-size: var(--size-4);
    color: var(--yellow);
    font-weight: var(--600);
    font-family: var(--font-1);
    line-height: 1.5;
    text-decoration: none;
}