.title-1{
    font-size: var(--size-1);
    color: var(--);
    font-weight: var(--weight-1);
}

.title-2{
    font-size: var(--size-2);
    color: var(--);
    font-weight: var(--weight-2);
}

.title-3{
    font-size: var(--size-3);
    color: var(--);
    font-weight: var(--weight-3);
}

.paragraph{
    font-size: var(--);
    color: var(--);
    font-weight: var(--);
}

.specialText{
    color: var(--);
    font-size: var(--);
    text-transform: uppercase;

    border-bottom: 2px solid var(--);
    width: 15%;
    padding-bottom: 5px;
}

.logos{
    color: var(--);
}