.box {
    width: 100%;
    max-height: 40vh;
    margin: 1rem 0;
    
    @media(max-width: 450px) {
        max-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7rem;
    }
    .boxDivider {
        margin: 3rem 0;

        @media(min-width: 768px) {
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
        }

        .boxInfo {
            width: 100%;
            span {
                color: var(--yellow)
            }

            h1 {
                text-align: center;
            }

            h1{
                padding: 1rem 0;
            }

            @media(min-width: 768px) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 70vh;
                gap: 3rem;

                h1 {
                    text-align: left;
                }
            }
        }

        .img {
            display: none;

            @media(min-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    box-sizing: border-box;
                    max-height: 400px;
                    box-shadow: 20px 18px 0px -7px var(--yellow);
                    border-radius: 65px 65px 65px 65px;
                }
            }
        }
    }

    @media(min-width: 768px) {
        max-height: 70vh;
    }
}