header {
    width: 100%;
    max-width: 1280px;
    box-shadow: 10px 16px 26px 10px var(--gray-2);
    margin: 0 auto; 
    padding-left: 0 3.5rem;
    
    @media (max-width: 768px) {
        padding: 1rem ;
    }

    .box {
        padding: 1rem 2.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:.5rem;

        @media(max-width: 521px) {
            padding: 0;
            flex-direction: column;
            justify-content: flex-start;
        }

        .name {
            text-transform: uppercase;

            h1 {
                text-shadow: 1px 2px var(--yellow);
                font-weight: 800;
            }
        }

        .flag {

            .button {
                display: flex;

                background: none;
                border-color: none;
                border: none;
                cursor: pointer;


            }
        }

        .bright {
            .button {
                display: flex;

                background: none;
                border-color: none;
                border: none;
                cursor: pointer;
            }
        }

        .nav {
            nav {
                max-width: 450px;

                ul {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    @media(max-width: 520px) {
                        justify-content: center;
                        box-sizing: border-box;
                        gap: 1rem;
                        margin-top: .5rem;
                    }

                    @media(min-width: 521px) {
                        justify-content: center;
                        box-sizing: border-box;
                        gap: 1rem;
                        margin-top: .5rem;
                    }

                    li {
                        display: flex;
                        justify-content: space-around;

                        a {
                            text-decoration: none;
                            transition: 1s;

                            &:hover {
                                color: var(--yellow);
                                transition: 1s;
                            }

                            span {
                                color: var(--yellow)
                            }
                        }
                    }

                }
            }
        }
    }
}