.divName {
    margin-top: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
        position: relative;

        &::before {
            content: "CONTACTME";
            letter-spacing: 5px;
            color: var(--gray);
            font-family: var(--font-2);
            font-size: 4.375rem;
            opacity: .2;
            position: absolute;
            top: -1.5rem;
            left: -8rem;
            font-weight: 300;
            
        }

        @media(max-width: 460px) {
            &::before {
                overflow-x: auto;
                width: auto;
                font-size: 65px;
                top: -0.5rem;
                left: -6rem;
                letter-spacing: 0px;
            }
        }

        @media(min-width: 1040px) {
            &::before {
                left: -1.8em;
                top: -1.3rem;
                font-size: 85px;
            }
        }
    }
}

.divLinks {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 0;

        li {
            a {
                color: var(--yellow);
            }
        }
    }
}