.projects {
    max-width: 350px;
    max-height: 650px;
    width: 100%;
    
    .cards {
        max-height: 650px;
        min-height: 300px;
        padding: 1rem;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        
        .img{
            height: 100%;
            
        }
        .openCard {
            margin-top: 1rem;
            height: 10%;
        }
    }
}