.projects {
    min-width: 300px;
    background: var(--gray-2);
    border-radius: 1rem ;
    padding: 1rem;
    

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        height: 100%;
        color: var(--gray);
        
        a{
            align-items: center
        }
        
        .img {
            width: 270px;
            height: 168px;
            border-radius: 0.3rem;
        }

        h2{
            font-family: var(--font-2);
            width: fit-content;
            font-size: var(--size-3);
            font-weight: var(--weight-1);
            position: relative;
            margin-bottom: 1rem;           

            &::after{
                content:"";
                position: absolute;
                bottom: -4px;       
                left: 0;
                width: 100%;         
                height: 1px;        
                background: var(--blue);  

                transform: scaleX(0);
                transform-origin: left center;
                animation: lineGrow 0.5s ease-in forwards;
                animation-delay: 0.4s;
            }
        }

        p{
            font-family: var(--font-2);
            width: fit-content;
            font-size: var(--size-5);
            font-weight: var(--weight-2);
            text-align: justify;
        }

        
        .techList{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.4rem;
            padding: 0.5rem 0
        }

        button {
            border: none;
            background-color: transparent;

            &:hover {
                cursor: pointer;
            }
        }        
    }
}

@keyframes lineGrow {
  from {
    width: 0%;
}
to {
    transform: scaleX(1);
    width: 100%;
  }
}