.projects {
    max-width: 350px;
    max-height: 650px;
    position: relative;
    overflow: hidden;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


    .cardsOverlay {
        width: 100%;
        max-height: 40.625rem;
        min-height: 18.75rem;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        .overlayImg {
            height: 300px;
            width: 350px;
            border-radius: 8px;

            background-color: black;
            opacity: .7;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;

            a {
                font-weight: 700;
                text-decoration: none;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .cards {
        width: 100%;
        max-height: 40.625rem;
        min-height: 18.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .img {
            height: 300px;
            width: 350px;
            border-radius: 8px;
        }

        .openCard {
            margin-top: 1rem;
            display: flex;
            justify-content: flex-start;
        }
    }
}