.box {
    width: 100%;

    .columns {
        .card {
            padding: 0 1rem;
            width: 100%;

            .title {
                padding: 2rem 0;
                text-align: center;

                h2 {
                    position: relative;

                    &::before {
                        content: "HABILITIES";
                        color: var(--gray);
                        font-family: var(--font-2);
                        font-size: 80px;
                        opacity: .1;
                        position: absolute;
                        top: -1.5rem;
                        left: 7rem;
                        font-weight: 300;
                    }
                    @media(min-width: 768px){
                        &::before {
                            content: "HABILITIES";
                            color: var(--gray);
                            font-family: var(--font-2);
                            font-size: 80px;
                            opacity: .1;
                            position: absolute;
                            top: -1.5rem;
                            left: -10rem;
                            font-weight: 300;
                        }
                    }
                }
            }


            @media(min-width: 768px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }

            .skills {


                .hard {
                    box-sizing: border-box;

                    ul {
                        display: flex;
                        box-sizing: border-box;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 1rem;

                        li {
                            font-weight: 900;
                            padding: 0.8rem;
                        }
                    }

                    @media(min-width: 768px) {
                        display: flex;
                        flex-direction: columns;
                        justify-content: space-between;
                    }
                }

                .soft {
                    ul {
                        display: flex;
                        box-sizing: border-box;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 1rem;

                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            flex-wrap: wrap;
                            text-align: center;
                            min-width: 150px;
                            padding: 0.8rem;

                            p {
                                margin-top: 1rem;
                                font-weight: 900;
                            }
                        }


                    }

                }

                @media(min-width: 768px) {
                    display: flex;
                    flex-direction: columns;
                    justify-content: space-between;
                }
            }
        }

        @media(min-width: 1024px) {
            display: flex;
            align-items: flex-start;
        }

    }

    @media(min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}