.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    .columns {
        .card {
            padding-top: 1rem;
            width: 100%;
            @media(min-width: 450px) {
                padding-top: 3rem;
            }
            .title {
                text-align: center;
                h2 {
                    position: relative;
                    
                    &::before {
                        content: "HABILITIES";
                        color: var(--gray);
                        font-family: var(--font-2);
                        font-size: 4.6875rem;
                        opacity: .1;
                        position: absolute;
                        top: -1.1rem;
                        left: 0;
                        font-weight: 300;
                    }
                    
                    @media(max-width: 450px){
                        &::before {
                            font-size: 3.3125rem;
                            opacity: .1;
                            position: absolute;
                            top: -1.5rem;
                            left: 0;
                            font-weight: 300;
                        }
                    }
                 
                    @media(min-width: 768px){
                        &::before {
                            content: "HABILITIES";
                            color: var(--gray);
                            font-family: var(--font-2);
                            font-size: 5.9375rem;
                            opacity: .1;
                            position: absolute;
                            top: -2.5rem;
                            left: -1.9em;
                            font-weight: 300;
                        }
                    }                    
                }
            }


            @media(min-width: 768px) {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }

            .skills {

                .hard {
                    box-sizing: border-box;

                    ul {
                        display: flex;
                        box-sizing: border-box;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 1rem;
                        
                        @media(max-width: 767px) {
                             padding: 1rem 0 0 0 ;
                        }

                        li {
                            font-weight: 900;
                            padding: 0.8rem;
                            
                            @media(max-width: 767px) {
                                padding:0 0.3rem;
                        }
                        }
                    }

                    @media(min-width: 768px) {
                        display: flex;
                        flex-direction: columns;
                        justify-content: space-between;
                    }
                }

                .soft {
                    ul {
                        display: flex;
                        box-sizing: border-box;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 1rem;

                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            flex-wrap: wrap;
                            text-align: center;
                            min-width: 150px;
                            padding: 0.8rem;

                            p {
                                margin-top: 1rem;
                                font-weight: 900;
                            }
                        }


                    }

                }

                @media(min-width: 768px) {
                    display: flex;
                    flex-direction: columns;
                    justify-content: space-between;
                }
            }
        }

        @media(min-width: 1024px) {
            max-width: 890px;
        }

    }
    
    @media(min-width: 540px) {
        
    }
}